body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,hr,ul,ol,td,input,option,textarea{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑";
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}
.header{
    width: 100%;
    height: 80px;
    background: rgb(242,242,242);
}
.head{
    width: 964px;
    height: 80px;
    margin: 0 auto;
}
.head img{
    padding-top: 26px;
    float: left;
}
.head p{
    color: #1f1f1f;
    font-size: 18px;
    float: left;
    padding-top: 26px;
    padding-left: 6px;
}
.banner{
    width: 1264px;
    height: 470px;
    background: rgb(227,57,56);
}
.banner #los{
    padding-left: 150px;
    padding-top: 60px;
}
.ban_r{
    width: 346px;
    height: 430px;
    background: white;
    float: right;
    margin-right: 150px;
    margin-top: 18px;
}
.ban_top{
    width: 346px;
    height: 57px;
    border-bottom: 1px solid rgb(242,242,242);
    cursor: pointer;
}
.ban_top ul li{
    float: left;
    font-size: 18px;
}
.ban_top ul li:first-child{
    padding-left: 45px;
    padding-top: 20px;
    color: rgb(229,75,84);
}
.ban_top ul li:last-child{
    padding-left: 101px;
    padding-top: 20px;
}
.ban_r img{
    width: 160px;
    height: 160px;
    border:1px solid rgb(241,241,241);
    margin-left: 88px;
    margin-top: 22px;
}
.ban_r #one{
    padding-top: 12px;
}
.ban_r #one li{
    font-size: 12px;
    float: left;
    color:rgb(170,170,170);
    padding-left: 86px;
}
.ban_r #one li:last-child{
    padding-left: 32px;
}
.ban_r #sao{
    width: 232px;
    height: 26px;
    border: none;
    margin-left: 46px;
}
.ban_r .two a{
    font-size: 12px;
    color: rgb(227,57,56);
}
.ban_r .two img{
    width: 16px;
    height: 16px;
}
.ban_r .two img{
    margin-left: 0;
    border: none;
}
.ban_r .two #weibo{
    margin-left: 46px;
}
.ban_r .two span{
    margin: 5px;
}
.two{
    padding-top: 42px;
}
.footer{
    background: rgb(238,243,250);
    font-size: 12px;
    text-align: center;
    padding-top: 26px;
    color: rgb(83,83,83);
    padding-bottom: 94px;
}